<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">VandyTestBank</h3>
</div>

<div class="row">
  <div class="col-md-3" ng-controller="SubjectsCtrl">
    <h3>Subject</h3>
    <ul>
      <li ng-repeat="subject in subjects">
        {{subject}}
      </li>
    </ul>
  </div>
  <div class="col-md-3" ng-controller="CoursesCtrl">
    <h3>Course</h3>
  </div>
  <div class="col-md-3">
    <h3>Professor</h3>
  </div>
  <div class="col-md-3">
    <h3>Test</h3>
  </div>
</div>

<div class="footer">
  <p>&reg; Power to the People</p>
</div>
